.aboutContainer {
    padding: 1rem;
    border-radius: 1rem;
    background: var(--primary-200);
}

.aboutContainer p+p {
    margin-top: 0.25rem;
}

.aboutContent {
    text-align: justify;
    line-height: 1.5rem;
    margin: 0;
    flex: 1;
}

.appContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.appContent {
    min-width: 400px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 2rem;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    min-height: 22rem;
    flex-wrap: wrap;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(83, 83, 83);
    padding: 0 0.5rem; 
}

.headerContent {
    margin: 0;
}

.headerLogo {
    height: 100%;
}

.field {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.field label {
    width: 4rem;
}

.field input {
    width: 3.5rem;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--background-200); */
    padding: 1rem;
    border-top: 1px solid rgb(83, 83, 83);
    /* border-top: 2px solid var(--background-200); */
    /* border-radius: 1rem; */
    margin-top: auto;  
    margin-bottom: 2rem;
}

.footerLink {
    max-width: 6rem;
}

.footerLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    padding: 0.5rem;
    column-gap: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-200);
    color: black;
}

.footerLinkContainer:hover {
    cursor: pointer;
    background-color: var(--primary-300);
    /* color: white; */
}

.footerLinkImg {
    height: 5rem;
    width: min-content;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.formContainer {
    background: var(--secondary-100);
    width: 10rem;
    flex: 0 0 auto;
    /* height: 20rem; */
}

input[type="number"] {
    border: none;
    background: var(--secondary-200);
    padding: 0.25rem;
}

input[type="number"]:focus {
    outline: 2px solid var(--accent-500);
}

.pdfButton {
    padding: 1rem;
    background: var(--primary-400);
    border-radius: 0.5rem;
    font-size: 1rem;
    color: black;
    padding: 0.5rem;
}

.pdfButton:hover {
    background: var(--primary-600);
    color: white;
}

.pdfButtonWrapper {
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 0.5rem;
}

.referenceContainer {
    background: var(--primary-200);
    flex: 1;
    min-width: 10rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.referenceContentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.referenceContentContainer p {
    margin: 0;
    flex: 1;
}

.referenceContainer,
.resultsContainer,
.formContainer {
    margin-top: 0rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.resultsContainer {
    background: var(--secondary-100);
}

.resultsTableContainer {
    max-height: 15rem;
    overflow-y: scroll;
}

.subHeader {
    margin: 0 0 1rem 0;
}

.submitButton {
    border: none;
    border-radius: 0.5rem;
    border-color: var(--accent-400);
    font-size: 1rem;
    background: var(--accent-400);
    color: white;
    padding: 0.5rem;
    width: 100%;
    margin-top: auto;
}

.submitButton:hover {
    cursor: pointer;
    background: var(--accent-500);
}

table {
    border-collapse: collapse;
}

table td,
table th {
    padding: 0.5rem;
    border: none;
}

table td {
    padding-bottom: 0;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background: var(--secondary-200);
}

/* .headerContainer {
  background-color: var(--header-background);
} */